$input_height: 50px;
$font_size:16px;

$label_background:#EC008C;
$label_color:#fff;

$input_color: #9DABBA;
$input_background:#fff;

$button_background: #4527a0;
$button_background_hover: #614DA0;
$button_color:#fff;